<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
  <form method="post">
      <div class="row">
          <div class="col-md-8 cv-header-left">
            <div class="profile-intro">
                <h2>Jana Martin</h2>
                <p class="intro-short">
                    A creative and collaborative digital marketing manager with over 15
                    years of experience. Expert in growing and increasing brand
                    awareness through customer-centric campaign strategies.
                    Specializes in cross-channel marketing, digital communication and
                    social media management.
                </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="profile-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
            </div>
          </div>
      </div>
      <hr class="devider">
      <div class="row">
        <div class="col-md-6">
          <div class="work-experience">
              <h3>Work experience</h3>
              <div class="timeline">
                  <div class="tl-container right">
                  <div class="content">
                      <h4>2017</h4>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                  </div>
                  <div class="tl-container right">
                  <div class="content">
                      <h4>2016</h4>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                  </div>
                  <div class="tl-container right">
                  <div class="content">
                      <h4>2015</h4>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                  </div>
                  <div class="tl-container right">
                  <div class="content">
                      <h4>2012</h4>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                  </div>
                  <div class="tl-container right">
                  <div class="content">
                      <h4>2011</h4>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                  </div>
                  <div class="tl-container right">
                  <div class="content">
                      <h4>2007</h4>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="work-experience">
            <h3>Work experience</h3>
            <div class="timeline">
                <div class="tl-container right">
                    <div class="content">
                        <h4>2017</h4>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
                <div class="tl-container right">
                    <div class="content">
                        <h4>2016</h4>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
            </div>
            <h3>Work experience</h3>
            <div class="timeline">
                <div class="tl-container right">
                    <div class="content">
                        <h4>2017</h4>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
                <div class="tl-container right">
                    <div class="content">
                        <h4>2016</h4>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
                <div class="tl-container right">
                    <div class="content">
                        <h4>2015</h4>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
                <div class="tl-container right">
                    <div class="content">
                        <h4>2012</h4>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="work-experience">
                <h3>Skills and knowledge</h3>
                <ul class="list">
                    <li>Spanish and Chinese (fluent) Copywriting</li>
                    <li>copyediting Search Engine Optimization (SEO)</li>
                    <li>Search Engine Marketing (SEM)</li>
                </ul>
            </div>
        </div>
      </div>
  </form>           
</div>


<style>

  body{background: -webkit-linear-gradient(left, #3931af, #00c6ff);}p {color: inherit;}
  .emp-profile{padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;max-width: 66.40625rem;height: 85.9375rem;padding: 4rem 0;}
  .emp-profile > form > .row {padding: 0 4rem;}.profile-img {text-align: center;}
  .profile-img img {height: 230px;width: 200px;border-radius: 100px 100px 0 0;border: 1px solid #333;}
  .work-experience > h3 {font-size: 1.5rem;font-weight: 400;margin-left: -15px;}
  .cv-header-left {display: flex;align-items: center;}
</style>



<style>
    /* The actual timeline (the vertical ruler) */
    .timeline {
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: #333;
        top: 20px;
        bottom: 0;
        left: 0;
        margin-left: -5px;
    }

    /* tl-Container around content */
    .tl-container {
        padding: 10px 20px;
        position: relative;
        background-color: inherit;
        /* width: 50%; */
    }

    /* The circles on the timeline */
    .tl-container::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #333;
        border: 4px solid #FF9F55;
        top: 15px;
        right: 0;
        border: none;
        border-radius: 50%;
        z-index: 1;
    }

    /* Place the tl-container to the left */
    .left {
    left: 0;
    }

    /* Place the tl-container to the right */
    /* .right {
    left: 50%;
    } */

    /* Add arrows to the left tl-container (pointing right) */
    .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #333;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #333;
    }

    /* Add arrows to the right tl-container (pointing left) */
    .right::before {
    content: " ";
    content: none;
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #333;
    border-width: 10px 10px 10px 0;
    border-color: transparent #333 transparent transparent;
    }

    /* Fix the circle for tl-containers on the right side */
    .right::after {
    left: -12px;
    }

    /* The actual content */
    .content {
        padding: unset;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }
    .content > *, ul.list li {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        margin: auto;
        color: #545454;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width tl-containers */
    .tl-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .tl-container::before {
    left: 60px;
    border: medium solid #333;
    border-width: 10px 10px 10px 0;
    border-color: transparent #333 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right tl-containers behave like the left ones */
    .right {
    left: 0%;
    }
    }
</style>